* {
    margin: 0px;
    padding: 0px;
}

body {
    -webkit-print-color-adjust: exact;
}

@page {
    margin: 0px;
}

:root {
    --width-a4: 275px;
    --height-a4: 388.5px;
    --font-a4: 1rem;
}

.flex-justify-aling {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-anton {
    font-family: "Anton", sans-serif;
}

.center {
    margin: 0 auto;
}



.container {
    display: flex;
    margin: 10px auto;
    width: 1000px;
    height: 600px;
    max-width: 1000px;
    max-height: 600px;
    
}

.input-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 500px;
    height: 600px;
    box-sizing: border-box;
    padding-top: 100px;
}

.input-container h3 {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 4px;
}


/* accordion */

#pap1, #pap2, #pap3, #pap4, #pap5, #pap6 {
    display: none;
}



.accordion {
    width: 300px;
}

.accordion .contentBx {
    position: relative;
    margin: 10px 0px;
    
}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background-color: rgb(37, 37, 37);
    color: white;
    cursor: pointer;
}

.accordion .contentBx .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.accordion .contentBx .content {
    position: relative;
    display: none;
    background-color: #fff;
    height: 0px;
    padding: 10px;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content {
    display: block;
    height: max-content;
    
}


/* ----------*/


.radio-container {
    display: flex;
    flex-direction: column;
}

.input {
    height: 20px;
    width: 200px;
    padding-left: 10px;
    margin-bottom: 8px;
    background-color: bisque;
}


.qntd-papeleta,.tipo-papeleta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: max-content;
    margin-top: 30px;
}








.preview-container {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    box-sizing: border-box;
}

.preview-box {
    display: block;
    width: var(--width-a4);
    height: var(--height-a4);
    border: solid 1px black; 
}

.container-teste {
    display: none;
    background-color: aquamarine;
    width: 1100px;
    height: 1554px;
}

/* papeleta 1x1 preview */

.imperdivel {
    background-color: black;

    height: calc(var(--height-a4) / 8);
    font-size: calc(var(--font-a4)/1.2);
    color: white;
}







.nome {
    flex-wrap: wrap;

    width: calc(var(--width-a4) / 1.1);
    height: calc(var(--height-a4) / 4);
    font-size: calc(var(--font-a4));
}

.nome h1 {
    text-align: center;
    line-height: 1.2;
    overflow: hidden;
    word-wrap: break-word;
    text-transform: uppercase;

    max-width: calc(var(--width-a4) / 1.1);
    max-height: calc(var(--height-a4) / 4);
    
    
}








.de-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;

    max-width: calc(var(--width-a4)/1.4);
    height: calc(var(--height-a4) / 8);
    max-height: 100%;

}

.de {
    margin-right: calc(var(--width-a4)/9);
    margin-left: calc(var(--width-a4)/20);
    font-size: calc(var(--font-a4)/0.8);

    text-align: center;
    word-wrap: break-word;
}

.de-preco {
    font-size: calc(var(--font-a4)/0.6);
    text-decoration: line-through;
    padding: 0px;
}






.por-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    max-width: calc(var(--width-a4)/1.4);
    height: calc(var(--height-a4) / 8);
    max-height: 100%;

}

.por {
    font-size: calc(var(--font-a4)/0.8);
}






.por-preco-container {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    margin: 0 auto;

    max-width: calc(var(--width-a4)/1.4);
    height: calc(var(--height-a4) / 4);
}

.por-preco-container h1 {
    font-size: calc(var(--font-a4) / 0.25);
}

.preview-container span {
    font-size: var(--font-a4);
}




.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: var(--width-a4);
    height: calc(var(--height-a4) / 10);
}

.footer {
    font-size: calc(var(--font-a4)/1.6);
}


/* --------------------- */

/* ------PREVIEW 2X1 --------- */

.preview-container-2x1 {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 500px;
    transform: rotate(90deg);
}





/* --------------------- */


.preview-container-4x1 {
    display: flex;
    display: none;
    flex-wrap: wrap;
    height: 600px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.container-4x1 {
    display: flex;
    flex-wrap: wrap;
    width: 279px;
    max-height: 393.5px;
}




.preview-container-6x1 {
    display: flex;
    display: none;
    flex-wrap: wrap;
    height: 600px;
    width: 500px;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}

.container-6x1 {
    display: flex;
    flex-wrap: wrap;
    height: 279px;
    max-width: 394.5px;
}

.preview-container-6x1 .de {
    margin-right: calc(var(--width-a4)/6);
}


