

.container-mini-preview-2x1 {
    display: flex;
    
    width: max-content;
    height: max-content;
}

.item-2x1 {
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    display: block;
    height: 275px;
    width: 195px;
    position: relative;
}

.item-2x1 h1 {
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}

#imperdivel-mini-2x1 {
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    padding: 6px;
}

.flex-nome-mini-2x1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 5px auto;
    margin-bottom: 20px;
}

#nome-mini-2x1 {
    font-size: 1.2em;
    max-height: 60px;
    max-width: 125px;
    line-height: 1.1;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0px;
}

#nome-mini-2x12 {
    font-size: 1.2em;
    max-height: 60px;
    max-width: 125px;
    line-height: 1.1;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0px;
}

.de-container-mini-2x1, .por-container-mini-2x1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 125px;
}

.de-container-mini-2x1 {
    height: 25px;
    max-height: 100%;
}

.por-container-mini-2x1 {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-height: max-content;
}

#de-mini-2x1, #por-mini-2x1 {
    font-size: 0.70em;
}

#de-mini-2x1 {
    margin-right: 1.5em;
}



#de-preco-mini-2x1 {
    font-size: 1em;
    text-decoration: line-through;
    padding: 0px;
}

#de-preco-mini-2x12 {
    font-size: 1em;
    text-decoration: line-through;
    padding: 0px;
}

.flex-preco-mini-2x1 {
    display: flex;
    align-items: last baseline;
    gap: 3px;
}

.flex-preco-mini-2x1 span {
    font-family: "Anton", sans-serif;
    font-size: 0.75em;
}

#por-preco-mini-2x1 {
    font-size: 3.2em;
    padding: 0px;
}

#por-preco-mini-2x12 {
    font-size: 3.2em;
    padding: 0px;
}

.footer-info-mini-2x1 {
    font-family: "Anton", sans-serif;
    margin: 5px auto;
    font-size: 0.25em;
    max-width: 125px;
    position: absolute;
    bottom: 5px;
    left: 40px;
}

.footer-info-mini-2x1 p {
    text-align: center;
}






.container-preview-2x1 {
    display: flex;
    
}

.item-g2x1 {
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    display: block;
    height: 1050px;
    width: 780px;
    position: relative;
}

.item-g2x1 h1 {
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
    font-size: 4em;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}

#imperdivel-2x1 {
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    padding: 24px;
}

.flex-nome-2x1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    margin: 20px auto;
    margin-bottom: 80px;
}

#nome-2x1 {
    font-size: 4.8em;
    max-height: 240px;
    max-width: 500px;
    line-height: 1.1;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0px;
}

#nome-2x12 {
    font-size: 4.8em;
    max-height: 240px;
    max-width: 500px;
    line-height: 1.1;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0px;
}

.de-container-2x1, .por-container-2x1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
}

.de-container-2x1 {
    height: 100px;
    max-height: 100%;
}

.por-container-2x1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-height: max-content;
}

#de-2x1, #por-2x1 {
    font-size: 2.8em;
}

#de-2x1 {
    margin-right: 3em;
}



#de-preco-2x1 {
    font-size: 4em;
    text-decoration: line-through;
    padding: 0px;
}

#de-preco-2x12 {
    font-size: 4em;
    text-decoration: line-through;
    padding: 0px;
}

.flex-preco-2x1 {
    display: flex;
    align-items: last baseline;
    gap: 12px;
}

.flex-preco-2x1 span {
    font-family: "Anton", sans-serif;
    font-size: 3em;
}

#por-preco-2x1 {
    font-size: 12.8em;
    padding: 0px;
}

#por-preco-2x12 {
    font-size: 12.8em;
    padding: 0px;
}

.footer-info-2x1 {
    font-family: "Anton", sans-serif;
    margin: 20px auto;
    font-size: 1em;
    max-width: 100%;
    position: absolute;
    bottom: 20px;
    left: 230px;
}

.footer-info-2x1 p {
    margin: 0 auto;
}

.preview-container-2x1 {
    display: block;
    transform: rotate(90deg);
    width: max-content;
    height: max-content;
    position: relative;
    background-color: aquamarine;
}



.principal-container {
    margin-bottom: 300px;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

@media print {

    body *:not(.preview-container-2x1):not(.preview-container-2x1 *) {
        visibility: hidden;
    }
    
    .preview-container-2x1 {
        position: absolute;
        top: 260px;
        left: -230px;
    }
   
    

}